{% extends "card.html" %}
{% load django_bootstrap5 %}

{% load i18n %}

{% block title %}Sign Out{% endblock title %}
{% block mainnavaccountactive %}active{% endblock mainnavaccountactive %}


{% block cardheadercontent %}
Sign Out
{% endblock cardheadercontent %}



{% block cardbodycontent %}
Are you sure you want to sign out?
{% endblock cardbodycontent %}



{% block cardfootercontent %}
<form method="post" class="my-0" action="{% url 'account_logout' %}">
	{% csrf_token %}
	{% if redirect_field_value %}
	<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
	{% endif %}
	{% trans "Sign Out" as button_text %}
	{% bootstrap_button button_text button_type="submit" extra_classes="secondaryAction btn-danger" %}
</form>
{% endblock cardfootercontent %}