{% extends "card.html" %}
{% load django_bootstrap5 %}

{% load i18n %}

{% block title %}Set Password{% endblock title %}
{% block mainnavaccountactive %}active{% endblock mainnavaccountactive %}
{% block cardheadercontent %}Set Password{% endblock cardheadercontent %}


{% block cardbodycontent %}
<form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {% bootstrap_form form %}
{% endblock cardbodycontent %}


{% block cardfootercontent %}

        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock cardfootercontent %}