{% extends "card.html" %}
{% load django_bootstrap5 %}

{% load i18n %}

{% block title %}Password Reset{% endblock title %}
{% block mainnavaccountactive %}active{% endblock mainnavaccountactive %}


{% block cardheadercontent %}
Password Reset
{% endblock cardheadercontent %}



{% block cardbodycontent %}

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p class="card-text">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
{% endblock cardbodycontent %}



{% block cardfootercontent %}
&nbsp;
{% endblock cardfootercontent %}