{% extends "card.html" %}
{% load django_bootstrap5 %}

{% load i18n %}

{% block title %}Change Password{% endblock title %}
{% block mainnavaccountactive %}active{% endblock mainnavaccountactive %}
{% block cardheadercontent %}{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}{% endblock cardheadercontent %}


{% block cardbodycontent %}

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="card-text">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" name="action" value="{% trans 'change password' %}"/>
            </form>
        {% else %}
            <p class="card-text">{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}

{% endblock cardbodycontent %}


{% block cardfootercontent %}
&nbsp;
{% endblock cardfootercontent %}